/* ==============================================

Template: My Desktop
Version: 1.0
Author:	UKIE WEB

    - General setting
    - Home | #header
    - Main Menu | #main-menu
    - About | #about-section
    - Resume | #resume-section
    - Portfolio | #portfolio-section
    - Blog | #blog-section
    - Contacts | #contact-section
    - Copyright | #footer-copyright

    - Animationload
    - Animated setting
    - Blog Page
    - Blog Post
    - Page 404

================================================ */
/* ------------------
    General setting
--------------------*/
* {
  font-family: 'Raleway', sans-serif;
  outline: none;
    }

body {
  display: none; }

a {
  color: #E18A48;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
   font-weight: 1000;
  text-decoration: none;
  outline: none !important; }
  a:hover, a:active, a:visited {
    text-decoration: none;
    outline: none !important;
    }
  a:hover {
    color: #E18A48; }
    a:hover h3 {
      color: #E18A48;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }

h1, h2, h3 {
  font-weight: 700;
  color: #E18A48; }

h1 {
  font-size: 40px;
  line-height: 45px;
  color: #3a3a3a; }

h2 {
  font-size: 30px;
  line-height: 30px; }

h3 {
  font-size: 24px;
  line-height: 32px; }

h4 {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 15px; }

input {
  border-radius: 0;
  box-shadow: none !important;
  -webkit-appearance: none; }

textarea {
  box-shadow: none !important;
  -webkit-appearance: none; }

.input-text {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
  color: #3a3a3a;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
  background-color: transparent;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .input-text:hover, .input-text:focus, .input-text:active {
    border: none;
    border-bottom: 1px solid #f57f42;
    outline: none; }
  .input-text::-webkit-input-placeholder {
    color: #3a3a3a; }
  .input-text:-ms-input-placeholder {
    color: #3a3a3a; }
  .input-text:-moz-placeholder {
    color: #3a3a3a; }
  .input-text ::-moz-placeholder {
    color: #3a3a3a; }

.input-textarea {
  width: 100%;
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
  background-color: transparent;
  resize: none;
  outline: none;
  height: 80px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .input-textarea:hover, .input-textarea:focus, .input-textarea:active {
    border: none;
    border-bottom: 1px solid #f57f42;
    outline: none; }
  .input-textarea::-webkit-input-placeholder {
    color: #3a3a3a; }
  .input-textarea:-ms-input-placeholder {
    color: #3a3a3a; }
  .input-textarea:-moz-placeholder {
    color: #3a3a3a; }
  .input-textarea::-moz-placeholder {
    color: #3a3a3a; }

p {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px; }

form {
  box-shadow: none; }

ul {
  padding: 0; }
  ul li {
    list-style-type: none; }

.img-info {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: right; }

.custom-list li {
  padding: 0 0 10px 35px;
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }
  .custom-list li::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -3px;
    left: -20px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #6c7988; }

.padding-zero {
  margin-right: -15px;
  margin-left: -15px; }
  @media (max-width: 749px) {
    .padding-zero {
      margin-right: 0;
      margin-left: 0; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.inline-div {
  display: inline-block;
  float: none; }

.clear {
  clear: both; }

.text-big {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px; }

.active {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #3a3a3a; }

/* Button */
.btn-site {
  display: inline-block;
  width: 170px;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  padding: 0;
  margin-bottom: 12px;
  text-align: center;
  border-style: solid;
  border-color: #E18A48;
   border-radius: 50px;
   background-color: #ffffff;
   color: #E18A48;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .btn-site:hover {
    background-color: #e89880;
    color: white; }
  @media (max-width: 749px) {
    .btn-site {
      width: 100%; } }

.btn-submit {
  margin-top: 30px;
  color: white;
  background-color: #3a3a3a;
  border: 0; }
  .btn-submit:hover {
    color: white;
    background-color: #f57f42; }

.default-section {
  padding-top: 75px;
  padding-bottom: 75px; }
  .default-section .section-img {
    display: block;
    margin: auto; }
  .default-section .section-title {
    text-align: center;
    margin-bottom: 30px; }
  @media (max-width: 762px) {
    .default-section {
      padding-top: 35px;
      padding-bottom: 35px; } }

/*-----------------------
    Home (header)
------------------------*/
.header{

    background-color: white;


}
.header::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
    opacity: 60% ;
    background:       url(../img/backfinal.png) no-repeat center center;
    background-size: cover;
}
  .header .socials {
    text-align: center; }
    .header .socials a {
      color: #E18A48;
      font-size: 14px;
      font-weight: 700;
      line-height: 45px;
      margin-right: 20px;
      margin-left: 20px; }
      .header .socials a:hover {
        color: #E18A48; }
  .header .header-title {
    position: relative; }
    .header .header-title .photo-icon {
      position: absolute;
      top: -15px;
      right: -20px;
      font-size: 20px;
      outline: none;
      border: none; }
      @media (max-width: 1200px) {
        .header .header-title .photo-icon {
          display: none; } }
      .header .header-title .photo-icon:hover {
        color: #ffffff; }
  .pages .header {
    padding: 0;
    background-color: transparent;
    border-bottom: 1px solid #e0e6e9; }

/*-----------------------
    Menu
------------------------*/
/* Main Menu */
.menu {
  padding-top: 50px;
  text-align: center; }
  .menu ul {
    margin-top: 0; }
  .menu li {
    display: inline-block; }
    .menu li a {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .menu li a:hover {
        color: #E18A489c; }
        .menu li a:hover .menu-text {
          color: white; }
  .menu img {
    margin: 10px 5px 0 5px;
    vertical-align: baseline; }
  .menu .menu-text {
    margin: 15px 0 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .pages .menu {
    padding: 0; }

/* Fixed Menu */
.default-menu {
  position: fixed;
  top: -62px;
  left: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .default-menu ul {
    margin: auto;
    background-color: white; }
  .default-menu li {
    padding: 0; }
  @media (max-width: 749px) {
    .default-menu {
      display: none; } }
  .pages .default-menu {
    position: relative;
    top: 0;
    left: 0; }
    .pages .default-menu ul li a {
      padding: 16px 16px 18px; }

.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #e0e6e9; }
  .menu-fixed a {
    background: transparent; }
    .menu-fixed a:hover, .menu-fixed a:focus {
      background: transparent;
      color: #f57f42; }
  .menu-fixed ul {
    margin: auto;
    background-color: white; }
    .menu-fixed ul li a {
      padding: 18px 16px 20px;
      display: inline-block; }
    .menu-fixed ul li.active a:after {
      content: "";
      background-color: #e89880;
      width: 100%;
      height: 2px;
      display: block;
      position: relative;
      top: 20px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  @media (max-width: 749px) {
    .menu-fixed {
      display: none;
      position: inherit;
      top: inherit;
      left: inherit;
      width: inherit;
      z-index: inherit;
      border-bottom: none; }
      .menu-fixed img {
        display: block; }
      .menu-fixed ul {
        margin: auto;
        background-color: inherit; }
        .menu-fixed ul li {
          padding: 0; } }

.nav > li > a:hover {
  background: transparent;
  color: #e89880; }

/* Popup Foto */
.popup-photo {
  visibility: visible;
  opacity: 1;
  z-index: 2;
  display: none;
  position: absolute;
  top: -34px;
  right: -49%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .popup-photo .btn-close {
    position: absolute;
    top: 5px;
    right: 4px;
    font-size: 14px;
    color: #c0c0c0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .popup-photo img {
    width: 100%;
    height: 136px;
    display: block;
    margin: auto; }
  .popup-photo .popup-text {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    height: 65px;
    margin-bottom: 0;
    display: inherit; }
  .popup-photo .popup-place {
    width: 176px;
    height: 199px;
    background-color: white;
    visibility: visible;
    opacity: 1;
    z-index: 2;
    position: absolute;
    top: -8px;
    right: 0;
    padding: 20px 20px 35px 20px; }
    .popup-photo .popup-place:after, .popup-photo .popup-place:before {
      right: 100%;
      top: 32%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      visibility: visible;
      opacity: 1; }
    .popup-photo .popup-place:before {
      border-width: 9px;
      margin-top: -9px; }
    .popup-photo .popup-place:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: white;
      border-width: 8px;
      margin-top: -8px; }
  .popup-photo .shadow-popup {
    display: inline-block !important;
    position: absolute;
    top: 0;
    width: 176px;
    right: 7px;
    padding: 20px 20px 178px 20px;
    background-color: black;
    visibility: visible !important;
    opacity: 0.1 !important;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .popup-photo .shadow-popup:after, .popup-photo .shadow-popup:before {
      right: 100%;
      top: 32%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .popup-photo .shadow-popup:before {
      border-width: 6px;
      margin-top: -9px; }
    .popup-photo .shadow-popup:after {
      visibility: visible;
      border-color: rgba(255, 255, 255, 0);
      border-right-color: black !important; }
    .popup-photo .shadow-popup:after {
      border-width: 8px;
      margin-top: -8px; }

.open-popup {
  display: inline-block; }

/*-----------------------
    About
------------------------*/
.about-section h3 {
  margin-bottom: 20px; }
.about-section .about-info {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
  margin-bottom: 0; }
.about-section .about-info span {
  font-weight: 400;
  text-align: right;
  float: right; }
.about-section .btn-print {
  color: #E18A48;
  background-color: #f5f5f5;
  margin-top: 15px; }
  .about-section .btn-print:hover {
    color: white;
    background-color: #E18A48; }
.about-section .btn-download {
  color: #fffefe;
  background-color: #E18A48;
  margin-top: 15px; }
  .about-section .btn-download:hover {
    color: white;
    background-color: #e89880; }

/*-----------------------
    Resume
------------------------*/
.resume-section {
  background-color: #ffffff; }
  .resume-section .resume-list li {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 700;
    line-height: 42px;
    padding-left: 22px;
    margin-bottom: 10px; }
    .resume-section .resume-list li:before {
      content: "";
      display: inline-block;
      position: relative;
      top: -3px;
      left: -20px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #3a3a3a; }
  @media (max-width: 749px) {
    .resume-section .resume-list {
      margin-top: 24px; } }

.skills-block {
  margin-bottom: 50px; }






/*-----------------------
    Progress Bar
------------------------*/
.progress-wrapper .progress-bar-label {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px; }
.progress-wrapper .progress-bar-number {
  float: right; }
.progress-wrapper .progress-bar {
  background-color: #E18A48;
  height: 3px;
  box-shadow: none; }
.progress-wrapper .progress {
  background-color: #f3f7f7;
  height: 3px;
  box-shadow: none; }
.progress-wrapper .progress-bar-number {
  color: #e89880;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

/*-----------------------
    Portfolio
------------------------*/
.portfolio-section {
  background-color: #ffffff; }
  .portfolio-section .controls {
    text-align: center;
    margin-bottom: 40px; }
  .portfolio-section .filter-btn-group .filter {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    border: none;
    background-color: white;
    margin: auto;
    display: inline-block;
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .portfolio-section .filter-btn-group .filter:hover {
      color: #e89880; }
  .portfolio-section .filter-btn-group .active {
    border-bottom: 1px solid #e89880;
    color: #3a3a3a; }
  .portfolio-section .mix {
    width: 32%;
    margin: 0;
    padding: 0;
    float: left;
    display: none;
    margin-bottom: 2%; }
    .portfolio-section .mix:first-of-type {
      width: 66%;
      margin-right: 2%; }
    .portfolio-section .mix img {
      width: 100%; }
  .portfolio-section .grid {
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: baseline; }
  .portfolio-section .hover-content {
    background-color: rgba(108, 121, 136, 0.1);
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .portfolio-section .popup-content {
    display: block;
    position: relative; }
    .portfolio-section .popup-content:hover .hover-content {
      visibility: visible;
      background-color: rgba(108, 121, 136, 0.7); }
  .portfolio-section .btn-site {
    margin: 24px auto auto;
    display: block; }
  .pages .portfolio-section .mix {
    width: 31%;
    padding: 0;
    float: left;
    display: none;
    margin: 1%; }
    @media (max-width: 991px) {
      .pages .portfolio-section .mix {
        width: 48%; } }
    @media (max-width: 762px) {
      .pages .portfolio-section .mix {
        width: 100%;
        margin: 0 0 5%; } }
    .pages .portfolio-section .mix:first-of-type {
      width: 31%; }
      @media (max-width: 991px) {
        .pages .portfolio-section .mix:first-of-type {
          width: 48%; } }
      @media (max-width: 762px) {
        .pages .portfolio-section .mix:first-of-type {
          width: 100%;
          margin: 0 0 5%; } }

/* modal box */
.cristal {
  width: 500px;
  margin: auto; }

.modal-box-img {
  text-align: center;
  margin-top: 30px;
  position: relative; }

.modal-box-txt {
  margin: auto;
  padding: 20px 10px;
  background-color: white;
  text-align: center; }

.mfp-close-btn-in .mfp-close {
  color: white; }

@media (max-width: 749px) {
  .mfp-container .mfp-arrow {
    display: none; } }
@media (max-width: 570px) {
  .cristal {
    width: 98%; }

  .modal-box-txt {
    width: 100%; }

  .modal-box-img {
    width: 100%; } }
@media (max-width: 546px) {
  .mfp-close {
    right: -14px;
    top: -10px; }

  .mfp-close:active {
    top: -10px; } }
/*-----------------------
    Blog
------------------------*/
.blog-section {
  background-color: #ffffff;
  /* Content Post */
  /* Article Comments */ }
  .blog-section .blog-content {
    margin-top: 48px; }
  .pages .blog-section {
    background-color: transparent; }
  .blog-section .blog-list {
    margin-bottom: 24px; }
  .blog-section .blog-tags a {
    padding-right: 10px;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 400; }
  .blog-section .blog-title {
    margin: 6px 0 16px;
    line-height: 34px;
    text-align: left;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .blog-section .blog-img img {
    width: 100%; }
  .blog-section .blog-info .blog-info-left {
    width: 50%;
    float: left;
    margin-bottom: 10px; }
  .blog-section .blog-info .blog-info-right {
    width: 50%;
    float: right;
    margin-bottom: 10px; }
  .blog-section .blog-info .blog-date {
    display: inline-block;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    padding: 0;
    margin: 0; }
  .blog-section .blog-info .blog-author {
    display: block;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .blog-section .blog-info .blog-comments {
    text-align: left;
    display: block;
    padding: 0; }
  .blog-section .blog-info .blog-read-more {
    text-align: right;
    display: block;
    padding: 0;
    margin: 0;
    font-weight: bold; }
  .blog-section .blog-info:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    margin: 0; }
  .blog-section .post-content {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(108, 121, 136, 0.2); }
    .blog-section .post-content h3 {
      margin: 7px 0 16px; }
    .blog-section .post-content img {
      width: 100%; }
    .blog-section .post-content p {
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px; }
    .blog-section .post-content .quote-article {
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
      text-align: center;
      padding: 0 60px 30px; }
      .blog-section .post-content .quote-article i {
        display: block;
        color: #3a3a3a;
        font-family: UkieFont;
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
        padding: 20px 0 10px; }
      @media (max-width: 749px) {
        .blog-section .post-content .quote-article {
          padding: 0 30px 30px; } }
  .blog-section .article-navigation {
    margin-bottom: 48px; }
  .blog-section .article-btn-prev, .blog-section .article-btn-next {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    display: inline-block;
    padding: 5px 0; }
    .blog-section .article-btn-prev i, .blog-section .article-btn-next i {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .blog-section .article-btn-prev:hover, .blog-section .article-btn-next:hover {
      color: #f57f42; }
      .blog-section .article-btn-prev:hover i, .blog-section .article-btn-next:hover i {
        font-family: UkieFont;
        color: #f57f42; }
  .blog-section .article-btn-next {
    float: right; }
  .blog-section .article-comments {
    margin-bottom: 48px; }
    .blog-section .article-comments h5 {
      color: #6c7988;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      display: inline-block;
      margin-bottom: 20px; }
      .blog-section .article-comments h5 i {
        opacity: 0.64;
        color: white;
        font-family: UkieFont;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        background-color: #e0e6e9;
        position: relative;
        top: 0;
        padding-top: 7px;
        margin-right: 10px; }
    .blog-section .article-comments .reply {
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 700;
      line-height: 26px;
      padding-left: 40px; }
      @media (max-width: 749px) {
        .blog-section .article-comments .reply {
          padding-left: 50px; } }
    .blog-section .article-comments .comment-item {
      margin-bottom: 24px; }
      @media (max-width: 749px) {
        .blog-section .article-comments .comment-item h5 {
          margin-bottom: 10px;
          line-height: 7px; }
        .blog-section .article-comments .comment-item span {
          display: inline-block;
          padding-left: 50px; } }
    .blog-section .article-comments .comment-txt {
      margin-bottom: 24px;
      color: #6c7988;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px; }
    .blog-section .article-comments .sub-comment {
      margin-left: 9%; }
  .blog-section .input-text, .blog-section .input-textarea {
    border-bottom: 1px solid #3a3a3a; }
    .blog-section .input-text:focus, .blog-section .input-text:active, .blog-section .input-textarea:focus, .blog-section .input-textarea:active {
      border-bottom: 1px solid #f57f42;
      outline: none; }

/*-----------------------
    Contacts
------------------------*/
.contact-section {
  background-color: #f5f5f5;
  padding-bottom: 0; }
  .contact-section .section-title {
    color: #3a3a3a;
    margin-bottom: 50px; }
  .contact-section .contact-info {
    font-weight: bold; }
    .contact-section .contact-info span {
      font-weight: 400;
      float: right; }
  .contact-section .social-icons a {
    color: #f3f7f7;
    text-align: center;
    font-family: UkieFont;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #f57f42;
    border-radius: 50%;
    margin: 20px 8px 20px 0; }
    .contact-section .social-icons a:hover, .contact-section .social-icons a:focus, .contact-section .social-icons a:active {
      color: #ffffff;
      background-color: #3a3a3a; }

/*-----------------------
    Copyright
------------------------*/
.copyright {
  margin-top: 60px;
  border-top: 1px solid rgba(108, 121, 136, 0.1);
  text-align: center;
  padding: 20px 0;
  color: #3a3a3a; }
  .copyright i {
    font-size: 10px; }
  .pages .copyright {
    margin-top: 0; }

/*-----------------------
    404 page
------------------------*/
.error-img {
  text-align: center;
  margin: auto;
  display: block;
  padding-top: 200px; }
  @media (max-width: 991px) {
    .error-img {
      padding-top: 50px; } }

.error-title span {
  display: block;
  font-size: 102px;
  font-weight: 700;
  line-height: 105px;
  text-transform: uppercase; }

.error-page {
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: left; }
  .error-page .btn-download {
    float: none;
    margin-right: 15px; }
  @media (max-width: 991px) {
    .error-page {
      margin-top: 60px;
      margin-bottom: 20px;
      text-align: center; } }

.error-text {
  color: #3a3a3a;
  margin-bottom: 24px; }

/* ------------------
    Pagination
--------------------*/
.pagination > li > a {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white; }
.pagination > li:first-child > a {
  border-radius: 0; }
.pagination > li > a:hover, .pagination > li > a:visited {
  background-color: white; }
.pagination > li > a, .pagination > li > span {
  border: none; }
.pagination .active {
  border-bottom: 1px solid #f57f42;
  color: #f57f42; }
  .pagination .active:hover {
    border-bottom: 1px solid #3a3a3a;
    color: #3a3a3a; }

/*-----------------------
    Widget
------------------------*/
.widget {
  margin-bottom: 32px; }
  .widget .widget-title {
    margin: 0 0 24px;
    line-height: 32px; }
  .widget.widget-categories .cat-item {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 1px solid rgba(108, 121, 136, 0.1); }
    .widget.widget-categories .cat-item:last-of-type {
      border-bottom: none; }
    .widget.widget-categories .cat-item span {
      font-weight: 400;
      float: right; }
  .widget.widget-popular-post .popular-title {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .widget.widget-popular-post .popular-post {
    border-bottom: 1px solid rgba(108, 121, 136, 0.1);
    margin-bottom: 10px;
    padding-bottom: 10px; }
    .widget.widget-popular-post .popular-post :last-of-type {
      border-bottom: none; }
    .widget.widget-popular-post .popular-post .popular-date {
      font-weight: 300;
      margin-bottom: 0; }
    .widget.widget-popular-post .popular-post .popular-title {
      margin-bottom: 0; }
      .widget.widget-popular-post .popular-post .popular-title a:hover {
        color: #f57f42;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
    .widget.widget-popular-post .popular-post .popular-coment {
      margin-bottom: 0; }
  .widget.widget-tags .all-tags a {
    margin: 0 8px 0 0;
    line-height: 24px; }

/*-----------------------
    Scroll to Top
------------------------*/
.scroll-to-top {
  width: 48px;
  height: 48px;
  padding: 0;
  font-size: 14px;
  line-height: 52px;
  text-align: center;
  position: fixed;
  bottom: 100px;
  right: 10px;
  display: none;
  color: #ffffff;
  border-radius: 50%;
  background-color: #3b3b3b;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .scroll-to-top:hover {
    background-color: #f57f42;
    color: white; }
  .scroll-to-top .uf-arrow-up {
    line-height: 52px; }
  @media (max-width: 749px) {
    .scroll-to-top .scroll-to-top {
      bottom: 50px; } }



/*-----------------------------
    Preloade Section Style
-------------------------------*/
#jpreOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999999999;
  background-color: white;
  text-align: center;
  background-image: url("../../version-one/assets/img/loading_pencil.html");
  background-repeat: no-repeat;
  background-position: center; }

#jpreSlide {
  text-align: center;
  width: 50%;
  height: 30%; }

#jpreLoader {
  text-align: center;
  margin: auto;
  width: 100%;
  display: block; }

#jprePercentage {
  color: #ccc;
  font-weight: bold;
  text-align: center;
  top: -100%; }

#jpreButton {
  display: none !important; }


.bg-img-SINGLE {
background-image: url(../img/sidibouillu.jpg);
}
/* 10.1. hero bg */
.hero-bg,
.hero-bg-show,
.hero-bg-show-primary,
.hero-bg-show-secondary {
-webkit-transition: -webkit-transform 3s ease;
   -moz-transition: -moz-transform 3s ease-out;
	-ms-transition: -ms-transform 3s ease-out;
     -o-transition: -o-transform 3s ease-out;
        transition: transform 3s ease;
}

.hero-bg {
position: fixed ;
width: 100%;
height: 100%;
overflow: hidden;
background-position: center bottom;
background-repeat: no-repeat;
-webkit-background-size: cover;
   -moz-background-size: cover;
    -ms-background-size: cover;
     -o-background-size: cover;
        background-size: cover;
-webkit-transform: scale(1.8);
   -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
     -o-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0;
   -moz-opacity: 0;
-webkit-opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.hero-bg-show {
-webkit-transform: scale(1);
   -moz-transform: scale(1);
    -ms-transform: scale(1);
     -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
   -moz-opacity: 1;
-webkit-opacity: 1;
filter: alpha(opacity=100);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.hero-bg-show-primary {
-webkit-transform: scale(1);
   -moz-transform: scale(1);
    -ms-transform: scale(1);
     -o-transform: scale(1);
        transform: scale(1);
}

.hero-bg-show-secondary {
-webkit-transform: scale(1.4);
   -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
     -o-transform: scale(1.4);
        transform: scale(1.4);
}


/* 10.2. hero fullscreen FIX */
.hero-fullscreen-FIX {
width: 100%;
height: 100%;
}




