.fact-item .details {
    margin-left: 60px;
}
.fact-item .icon {
    font-size: 36px;
    color: #DEDEEA;
    float: left;
}
.fact-item .number {
    font-size: 30px;
}
.fact-item .number em {
    font-style: normal;
}
.fact-item p {
    font-size: 16px;
}

.circle {
    background: #456BD9;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 5em;
    width: 5em;
}